@import "../../vars.css";

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(180deg, #576cbc 0%, #132a53 100%);
  padding: 15px 5%;
  position: fixed;
  top: 0;
  width: 90%;
  z-index: 10;
}

.title {
  font-size: 30px;
  font-weight: 600;
  text-decoration: none;
  color: var(--color-text);
}

.menu {
  display: flex;
  align-items: center;
}

.menuBtn {
  display: none; /* Hidden on desktop */
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.menuItems {
  display: flex;
  gap: 47px;
  list-style: none;
}

.menuItems li a {
  font-size: 25px;
  color: var(--color-text);
  text-decoration: none;
  transition: color 0.3s ease;
}

.menuItems li a:hover {
  color: var(--color-primary);
}

.contactItem {
  display: flex;
  align-items: center;
  gap: 10px;
}

.contactWidget {
  width: 20px;
  height: 20px;
}

/* Mobile View */
@media screen and (max-width: 830px) {
  .menuBtn {
    display: block; /* Show hamburger icon */
  }
  .menuItems {
    display: none; /* Hidden by default */
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background: linear-gradient(180deg, #576cbc 0%, #132a53 100%);
    padding: 20px 0;
    gap: 20px;
    text-align: center;
  }
  .menuOpen {
    display: flex; /* Show when toggled */
  }
  .menuItems li a {
    font-size: 20px;
  }
}