@import "../../vars.css";

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(180deg, #576cbc 0%, #132a53 100%);
  padding: 10px 5%;
  position: fixed;
  top: 0;
  width: 100%;
  left: 0;
  z-index: 10;
  box-sizing: border-box;
}

.title {
  font-size: 30px;
  font-weight: 600;
  text-decoration: none;
  color: var(--color-text);
  margin-right: 20px;
}

.menu {
  display: flex;
  align-items: center;
}

.menuBtn {
  display: none; /* Hidden on desktop */
  font-size: 20px;
  color: var(--color-text);
  cursor: pointer;
  padding: 5px 10px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
}

.menuItems {
  display: flex;
  gap: 47px;
  list-style: none;
}

.menuItems li a {
  font-size: 25px;
  color: var(--color-text);
  text-decoration: none;
  transition: color 0.3s ease;
}

.menuItems li a:hover {
  color: var(--color-primary);
}

.contactItem {
  display: flex;
  align-items: center;
  gap: 10px;
}

/* Mobile View */
@media screen and (max-width: 830px) {
  .navbar {
    padding: 10px 5%;
    display: flex;
  }
  .title {
    font-size: 24px;
    margin-right: 15px;
  }
  .menuBtn {
    display: block; /* Text button visible */
  }
  .menuItems {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    background: linear-gradient(180deg, #576cbc 0%, #132a53 100%);
    padding: 20px 0;
    gap: 20px;
    text-align: center;
    box-sizing: border-box;
    z-index: 9;
  }
  .menuOpen {
    display: flex !important;
  }
  .menuItems li a {
    font-size: 20px;
  }
}